/* SPDX-License-Identifier: GPL-3.0-or-later */
.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.ml-1 {
  margin-right: 0.5rem;
}
.m-2 {
  margin-left: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.text-md {
  font-size: 2rem;
}

.text-lg {
  font-size: 3rem;
}

.gap-x-2 > *:not(:first-child) {
  margin-left: 1rem;
}

.opacity-0 {
  opacity: 0;
}

.bg-gray-200 {
  background-color: mix(
    @theme_unfocused_fg_color,
    @theme_unfocused_bg_color,
    0.95
  );
}

.active_task {
  background-color: @accent_bg_color;
  color: white;
}
